.register-banner{
    
    background: linear-gradient(rgb(247, 247, 247,0.0), rgb(41, 43, 44,1.0)) , url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/David-Oath_of_the_Horatii-1784.jpg/1280px-David-Oath_of_the_Horatii-1784.jpg"),no-repeat;
    /* Full height */
    //height: auto;
    min-height: 40rem;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}



.loggin-banner {
    background: linear-gradient(rgb(247, 247, 247,0.0), rgb(41, 43, 44,1.0)) , url("https://upload.wikimedia.org/wikipedia/commons/2/2b/Le%C3%B3nidas_en_las_Term%C3%B3pilas%2C_por_Jacques-Louis_David.jpg"),no-repeat;
    min-height: 40rem;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.alert {
    text-align: left;
    font-size: 1rem;
    width: auto;
    max-height: 3rem;
    animation-name: fadein;
    animation-duration: 2s;
    
}
