.header{
    margin-bottom: 2rem;
    width: 100%;

    background: linear-gradient(rgb(247, 247, 247,0.0), rgb(41, 43, 44,1.0)) , url("http://cliptank.com/PeopleofInfluencePainting_files/InfluentialPicture.jpg"),no-repeat;
    /* Full height */
    min-height: 6rem;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

}
.header #title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 6rem;
}
